.container {
    text-align: center;
    background-color: #121212;
    position: relative;
    font-family: sans-serif;
}

.form {
    align-items: center;
    margin-left: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    width: 35rem;
    align-items: left;
    align-items: center;
    border-radius: 0.5rem;
}

#input{
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
    width: 22rem;
    height: 2.3rem;
}

button {
    background-color: rgb(0, 255, 127);
    margin-top: 0.5rem;
    width: 22.6rem;
    height: 3rem;
    border-radius: 1.5rem;
}
 
link {
    text-decoration: none;
}



















